
.variations__item {
    display:none;
}

.variations__item.active {
    display:block;
}

.variation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.variation-button {
    background: #eaeaea;
    border: 1px solid #eaeaea;
    color: #000;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
.variation-button.active {
    background: #0b8f7d;
}
.next-vars {
    width: 100%;
}
.single_add_to_cart_button {
    width:100%;
}
.single_variation_wrap {
    margin-top: 2em;
}
.single_add_to_cart_button.disabled {
    display: none;
}